<div class = "container">
  <div id = "profile" style = "padding-top : 25px">
    <div class="profile-block clearfix center ">
      <div class= "cover">
        <%= image_tag "cover.jpg"%>
      </div>
      <div class="info">
        <div>
          <%= image_tag avatar_url(@user), class: "avatar"%>
        </div>
      <div class ="text clearfix">
        <div class ="flexcontainer username">
          <%= @user.username%>
        </div>                  
        <div class="action">
          <%if current_user == @user%>
					<div class="action-button">
						<%= link_to t('form.edit'), edit_user_path ,class: "btn btn-default btn-round btn-edit"  %>
					</div>
          <%end%>
				</div>
            <div class="flexcontainer email">
                <%= @user.email%>
            </div>
        </div>                
            </div>

            <div class="card mt-2 mr-1 ml-1 mb-3" style="border: none;">
                <div class="card-body">
                    <h4 class="card-title">About me</h4>
                    <p class="card-text"><%= @user.profile.bio %></p>
                </div>
            </div>

            <div class="card mt-2 mr-1 ml-1 mb-3" style="border: none;">
                <div class="card-body">
                    <h4 class="card-title">About me</h4>
                    <p class="card-text"><%= @user.profile.bio %></p>
                </div>
            </div>
        </div>
      </div>                
    </div>
  </div>
</div>
<div class="card-columns listfeaturedtag col-12" style="display: contents">
    <% @user.posts.each do |p| %>
    <div class="profile-block clearfix center" style="width:665px">
      <%=render 'posts/post', p: p%>
    </div>
    <% end %>
	</div>
</div>