<% if false %> 
<div class = "login-body">
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-header">Login</div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group row">
              <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>

              <div class="col-md-6">
                  <input id="email" type="email" class="form-control" name="email" required>
              </div>
          </div>

          <div class="form-group row">
            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
            <div class="col-md-6">
                <input id="password" type="password" class="form-control" name="password" required>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-8 offset-md-4">
              <button type="submit" class="btn btn-primary mb-2">
                  Login
              </button>
              <div class="d-flex">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
          
        <% end %>
      </div>
    </div>
  </div> 
</div>

<% if false %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class = "text-center mb-4">
            <h2>Log in</h2>
          </div>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
            <%= render "devise/shared/links" %>
        <% end %>
        <% end %>  