<div class="row">
  <div class="col-md-3">
    <p><b>Title: </b><%= @post.title%></p>
    <p><b>Content: </b><%= @post.content %></p>
  </div>
</div>
        <!-- load comment -->
<div id="comment-post-<%= @post.id.to_s %>">
  <%= render 'comment_list', post: @post %>
</div>
<div class="row actions" id="comment-form-post-<%= @post.id.to_s %>">
  <%= render 'comment_form', post: @post %>
</div>
