<div class="row">
  <div class="col-md-3">
    <p><b>Title: </b><%= @post.title%></p>
    <p><b>Content: </b><%= @post.content.html_safe %></p>
  </div>
</div>
<div id="like-icon-post-<%= @post.id.to_s %>">
  <%= render "like_icon", {is_liked: @is_liked, post: @post} %>
</div>
<div id="like-text-post-<%= @post.id.to_s %>">
  <%= render "like_text", {likes: @likes} %>
</div>
<div class="post-time"><%= time_ago_in_words(@post.created_at) %> ago</div>

<div id="comment-post-<%= @post.id.to_s %>">
  <%= render 'comment_list', post: @post %>
</div>
<div class="row actions" id="comment-form-post-<%= @post.id.to_s %>">
  <%= render 'comment_form', post: @post %>
</div>
